@model dvhd.Models.HoSo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa hồ sơ</h2>

<h3>Bạn có chắc chắn muốn xóa hồ sơ này? @Model.hoten</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Quay lại", "Index")
    </p>
}
