@{
    ViewBag.Title = "Báo cáo theo Hành Vi Vi Phạm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/printStyle.css" />

<h2>Báo Cáo Theo Hành Vi Vi Phạm</h2>

<div class="col-md-12 noPrint">
    <div class="form-group">
        <label for="room" style="width:auto;display:block;">Loại Động Vật Hoang Dã</label>
        <input name="baocao_hanhviVP" type="text" tabindex="1" id="baocao_hanhviVP" value="" class="form-control" placeholder="vận chuyển, buôn bán, nuôi nhốt, kinh doanh, giết mổ, trưng bày rượu ngâm" onkeyup="baocao_search(this, 5);"/>
        <input type="button" value="Tìm kiếm" onclick="baocao_getData('baocao_hanhviVP', 5);">
    </div>
</div>

<div class="col-md-12 noPrint" style="text-align:center;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" disabled="disabled" />
    @*<input id="btnCreateReport" type="button" value="Xuất ra PDF file" onclick="baocao_createPDF('baocao_loaiDVHD', 1);" disabled="disabled" />*@
</div>

<div id="divResult" class="col-md-12">
    <label id="countResult"></label>
    <table id="tbResult" class="tbBanIn"></table>
</div>

<script type="text/javascript">
    var urlCreateBaoCaoPDF = '@Url.Action("createReport")';
</script>