@{
    ViewBag.Title = "Báo cáo theo loài Động vật hoang dã";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Báo Cáo Theo Loại Động Vật Hoang Dã</h2>
<style id="styleDetail" type="text/css">
   /* Ban In css*/
    .tbBanIn {
        width:100%;
        border: 1px solid #bbbcbb;
        border-collapse: collapse;
    }
    .tbBanIn td, .tbBanIn th {
        border: 1px solid #bbbcbb;
        padding: 2px !important;
    }
    .tbBanIn label {
        margin: 0 !important;
    }
</style>
@*<script>
    document.addEventListener("keydown", autosearch);
    function autosearch(event) {
        var keyCode = ('which' in event) ? event.which : event.keyCode;
        //alert("The Unicode key code is: " + keyCode);
        if (keyCode == 13) {
            baocaotheoloai();
        }
        
    }
</script>*@

<div class="col-md-12">
    <div class="form-group">
        <label for="room" style="width:auto;display:block;">Loại Động Vật Hoang Dã</label>
        <input name="baocao_loaiDVHD" type="text" tabindex="1" id="baocao_loaiDVHD" value="" class="form-control" placeholder="Tên Loại Động Vật Hoang Dã" onkeyup="baocao_search(this, 1);"/>
        <input type="button" value="Tìm kiếm" onclick="baocao_getData('baocao_loaiDVHD', 1);">
    </div>
</div>

<div class="col-md-12" style="text-align:center;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" disabled="disabled" />
    <input id="btnCreateReport" type="button" value="Xuất ra PDF file" onclick="baocao_createPDF(1);" disabled="disabled" />
</div>

<div id="divResult" class="col-md-12">
    <label id="countResult"></label>
    <table id="tbResult" class="tbBanIn"></table>
</div>

<script type="text/javascript">
    var urlCreateBaoCaoPDF = '@Url.Action("createReport")';
</script>

