@{
    ViewBag.Title = "Báo cáo theo loài Động vật hoang dã";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/printStyle.css" />

<!-- Reservation form -->
<section id="reservation-form" style="margin-top:10px;" class="noPrint">
  <div class="container">
    <div class="row">
      <div class="col-md-12">  
        <h3>Báo Cáo Theo Loại Động Vật Hoang Dã</h3>         
        <form class="form-inline reservation-horizontal clearfix" role="form"   name="reservationform" id="reservationform">
          <div class="row">
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Loài Động Vật Hoang Dã</label>
				    <input name="baocao_loaiDVHD" type="text" tabindex="1" id="baocao_loaiDVHD" value="" class="form-control" placeholder="Tê Tê, Báo Gấm, Bò Rừng, Tê Giác, Hổ ..." onkeyup="baocao_search(this, 1,getDateIdNew(document.getElementById('fromdate').value),getDateIdNew(document.getElementById('todate').value));"/>              
                  </div>
              </div>
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Từ ngày</label>
				    <input name="fromdate" type="date" id="fromdate" value="" class="form-control" placeholder="Từ ngày" />              
                  </div>
              </div>
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Đến ngày</label>
				    <input name="todate" type="date" id="todate" value="" class="form-control" placeholder="Đến ngày" />               
                  </div>
              </div>
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Tìm</label>
				    <input type="button" style="height:32px;" value="Tìm kiếm" onclick="baocao_getData('baocao_loaiDVHD', 1, getDateIdNew(document.getElementById('fromdate').value), getDateIdNew(document.getElementById('todate').value));" />            
                  </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>  


<div class="col-md-12 noPrint" style="text-align:center;margin-top:15px;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" disabled="disabled" />
    <input id="btnCreateReport" type="button" value="Xuất ra Excel file" onclick="ExportExcel(document.getElementById('baocao_loaiDVHD').value, 1, getDateIdNew(document.getElementById('fromdate').value), getDateIdNew(document.getElementById('todate').value));" disabled="disabled"/>    
</div>

<div id="divResult" class="col-md-12">
    <label id="countResult"></label>
    <table id="tbResult" class="tbBanIn"></table>
</div>
