@{
    ViewBag.Title = "Báo Cáo Theo Đối Tượng";
}

<link rel="stylesheet" href="~/Content/css/printStyle.css" />

<h3>Báo Cáo Theo Đối Tượng</h3>

<div class="col-md-12 noPrint">
    <div class="form-group">
        <label for="room" style="width:auto;display:block;">Đối Tượng Vi Phạm</label>
        <input name="baocao_cmt" type="text" tabindex="1" id="baocao_cmt" value="" class="form-control" placeholder="Nhập tên hoặc số cmt, hộ chiếu của đối tượng" onkeyup="baocao_search(this, 3);"/>
        <input type="button" value="Tìm kiếm" onclick="baocao_getData('baocao_cmt', 3);">
    </div>
</div>

<div class="col-md-12 noPrint" style="text-align:center;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" disabled="disabled" />
    <input id="btnCreateReport" type="button" value="Xuất ra Excel file" onclick="ExportExcel(document.getElementById('baocao_cmt').value, 3);" disabled="disabled"/>
</div>

<div id="divResult" class="col-md-12">
    <label id="countResult"></label>
    <table id="tbResult" class="tbBanIn"></table>
</div>