@{
    ViewBag.Title = "Hệ quản trị cơ sở dữ liệu Động Vật Hoang Dã";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center;">
    <h1>Hệ quản trị cơ sở dữ liệu Động Vật Hoang Dã</h1>
    <h4>Hiển thị các tính năng tốt nhất với trình duyệt <a href="http://www.google.com/chrome/">Chrome</a></h4>
    <p><img src="/Images/banner.jpg" /></p>
</div>