@{
    ViewBag.Title = "Hệ quản trị cơ sở dữ liệu Động Vật Hoang Dã";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row"> 
    <!-- Blog -->
    <section class="blog mt50">
      <div class="col-md-9">
         <section class="revolution-slider">
          <div class="bannercontainer">
            <div class="banner" id="dvslide">
              
            </div>
          </div>
        </section>     
      </div>
            
    </section>
    <!-- Aside -->
    <aside class="mt50"> 
      <!-- Widget: Text -->
      <div class="col-md-3" valign="top">
        <div class="widget" valign="top">
          <h3>Đơn Vị Cộng Tác</h3> 
          <p><a href="http://vea.gov.vn/" target="_blank"><img src="/Images/logomain.jpg" style="border:1px solid #808080;width:128px;height:57px;"></a></p>         
          <p><a href="http://www.thegef.org/gef/" target="_blank"><img src="/Images/gef.jpg" style="border:1px solid #808080;width:128px;height:57px;"></a></p>
          <p><a href="http://www.worldbank.org/" target="_blank"><img src="/Images/worldbank.png" style="border:1px solid #808080;width:128px;height:57px;"></a></p>
            <p><a href="http://vea.gov.vn/VN/quanlymt/baotondadangsh/Pages/trangchu.aspx" target="_blank"><img src="/Images/vea.jpg" style="border:1px solid #808080;width:128px;height:57px;"></a></p>
        </div>  
      </div>
    </aside>
  </div>
</div>
<div class="container">
  <div class="row"> 
    <!-- Blog -->
    <section class="blog mt50">
      <div class="col-md-12" style="width:100%;">
          @Html.Raw(@ViewBag.news)
       </div> 
     </section>
   </div>
</div>  
<script>
    @*arrSlide = new Array(@Html.Raw(@ViewBag.slide));
    document.getElementById("dvslide").innerHTML = "<img src=\"" + arrSlide[0] + "\" width=\"100%\" height=\"300px\" style=\"border:1px solid #808080;border-radius:5px 5px 5px 5px;\">";*@
    getListBanner();
    setInterval(slideImage, 2000);
</script>