@{
    ViewBag.Title = "Hệ quản trị cơ sở dữ liệu Động Vật Hoang Dã";
}
<div style="text-align:center;">
    <h1>Hệ quản trị cơ sở dữ liệu Động Vật Hoang Dã</h1>
    <img src="/Images/banner.jpg" />
</div>