@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="width:100%;text-align:center;">
      <h1>Hệ quản trị cơ sở dữ liệu Động Vật Hoang Dã </h1>
      <h2 >Đăng nhập hệ thống</h2>  
    </div>
    <form class="clearfix mt50" role="form" method="post" name="contactform" id="contactform">
          <div class="row">            
              <div class="form-group" style="width:80%;margin-left:4%;">
                <label for="name" accesskey="U"><span class="required">*</span> User</label>
                <input name="name" type="text" id="name" class="form-control" value=""/>
              </div>
              <div class="form-group" style="width:80%;margin-left:4%;">
                <label for="email" accesskey="E"><span class="required">*</span> Password</label>
                <input name="pass" type="password" id="pass" value="" class="form-control"/>
              </div>            
              <div class="form-group" style="width:80%;margin-left:4%;">
                 <button type="button" class="btn btn-info" onclick="Login();">Login</button>
              </div>            
          </div>
    </form>
</div>
