@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="container">
  <div class="row"> 
    <!-- Blog -->
    <section class="blog mt50">
      <div class="col-md-9">
         <section class="revolution-slider">
          <div class="bannercontainer">
            <div class="banner" id="dvslide">
              
            </div>
          </div>
        </section>     
      </div>
    </section>
    <!-- Aside -->
    <aside class="mt50" > 
      <!-- Widget: Text -->
      <div class="col-md-3" style="border:1px solid #808080;border-radius:5px 5px 5px 5px;">
        <div class="widget" >
          <h3>Đăng nhập hệ thống</h3> 
          <form class="clearfix mt50" role="form" method="post" name="contactform" id="contactform" style="margin-top:2px;">
              <div class="row">            
                  <div class="form-group" style="width:80%;margin-left:4%;">
                    <label for="name" accesskey="U"><span class="required">*</span> Tên truy cập</label>
                    <input name="name" type="text" id="name" class="form-control" value=""/>
                  </div>
                  <div class="form-group" style="width:80%;margin-left:4%;">
                    <label for="email" accesskey="E"><span class="required">*</span> Mật khẩu</label>
                    <input name="pass" type="password" id="pass" value="" class="form-control"/>
                  </div>            
                  <div class="form-group" style="width:80%;margin-left:4%;">
                     <button type="button" class="btn btn-info" onclick="Login();">Đăng nhập</button>
                  </div>            
              </div>
          </form>
          <a href="http://vea.gov.vn/VN/quanlymt/baotondadangsh/Pages/trangchu.aspx" target="_blank"><img src="/Images/cucbaoton.gif"></a>            
        </div>  
      </div>
    </aside>
  </div>
</div>
<script>
    //arrSlide = new Array(@Html.Raw(@ViewBag.slide));
    //document.getElementById("dvslide").innerHTML = "<img src=\"" + arrSlide[0] + "\" width=\"100%\" height=\"300px\" style=\"border:1px solid #808080;border-radius:5px 5px 5px 5px;\">";
    getListBanner();
    setInterval(slideImage,2000);
</script>
