@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div style="width:100%;text-align:center;">
      <h1>Bạn không có quyền truy cập trang này</h1>
      <h2>Liên hệ quản trị hệ thống</h2>  
</div>
