<select id="donvibatgiu" class="form-control" name="donvibatgiu" tabindex="30">    
    <option value="Kiểm lâm">Kiểm lâm</option>
    <option value="Hải quan">Hải quan</option>
    <option value="Quản lý thị trường">Quản lý thị trường</option>   
    <option value="Công an">Công an</option>
    <option value="Biên phòng">Biên phòng</option>
    <option value="Tổ chức phi lợi nhuận">Tổ chức phi lợi nhuận</option>
    <option value="Chưa rõ">Chưa rõ</option>
</select>



