<select id="donvixuly" class="form-control" name="donvixuly" tabindex="33" onchange="changeKetQuaXuLy();">
    <option value="">chưa có</option
    <option value="Cảnh sát môi trường" selected>Cảnh sát môi trường</option>
    <option value="Hải quan">Hải quan</option>
    <option value="Kiểm lâm">Kiểm lâm</option>
    <option value="Quản lý thị trường">Quản lý thị trường</option>
    <option value="Viện kiểm sát">Viện kiểm sát</option>
    <option value="Tòa án">Tòa án</option>
    <option value="Cơ quan điều tra">Cơ quan điều tra</option>
</select>
