<select id="donvibatgiu" class="form-control" name="donvibatgiu" tabindex="30">
    <option value="Cảnh sát môi trường">Cảnh sát môi trường</option>
    <option value="Kiểm lâm">Kiểm lâm</option>
    <option value="Hải quan">Hải quan</option>
    <option value="Quản lý thị trường">Quản lý thị trường</option>
    <option value="Cảnh sát giao thông">Cảnh sát giao thông</option>
    <option value="Cảnh sát hình sự">Cảnh sát hình sự</option>
    <option value="Công an">Công an</option>
</select>



