<select id="donvitinh" class="form-control" name="donvitinh" tabindex="26">
    <option value="cái">con vật</option>
    <option value="cái">cái</option>
    <option value="kg">kg</option>
    <option value="chiếc">chiếc</option>
    <option value="bình rượu ngâm">bình rượu ngâm</option>
</select>


