<select id="donvixuly" class="form-control" name="donvixuly">
    <option value="Cảnh sát môi trường">Cảnh sát môi trường</option>
    <option value="Hải quan">Hải quan</option>
    <option value="Kiểm lâm">Kiểm lâm</option>
    <option value="Quản lý thị trường">Quản lý thị trường</option>
    <option value="Viện kiểm sát">Viện kiểm sát</option>
    <option value="Tòa án">Tòa án</option>
    <option value="Công an">Công an</option>
</select>
