<select id="hinhthucvipham" class="form-control" name="hinhthucvipham" tabindex="20">
    <option value="@dvhd.Config.hinhthucvipham[0]">@dvhd.Config.hinhthucvipham[0]</option>
    <option value="@dvhd.Config.hinhthucvipham[1]">@dvhd.Config.hinhthucvipham[1]</option>
</select>

