<select id="ketquaxuly" class="form-control" name="ketquaxuly" tabindex="32">
    <option value="hành chính">hành chính</option>
    <option value="hình sự">hình sự</option>
    <option value="không xử lý">không xử lý</option>
</select>
