<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>DVHD Database Version 1.0</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="noindex,nofollow,noodp"/>
<link rel="shortcut icon" href="favicon.ico">
<!-- Stylesheets -->
<link rel="stylesheet" href="~/Content/css/animate.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/css/owl.theme.css">
<link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
<link rel="stylesheet" href="~/Content/css/smoothness/jquery-ui-1.10.4.custom.min.css">
<link rel="stylesheet" href="~/Content/rs-plugin/css/settings.css">
<link rel="stylesheet" href="~/Content/css/theme.css">
<link rel="stylesheet" href="~/Content/css/colors/turquoise.css">
<link rel="stylesheet" href="~/Content/css/responsive.css">
<link rel="stylesheet" href="~/Content/css/customscreen.css">
<link rel="stylesheet" href="~/Content/jquery-ui.css"> 
<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700">-->
<!-- Javascripts --> 

<script type="text/javascript" src="~/Content/js/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="~/Content/js/bootstrap-hover-dropdown.min.js"></script> 
<script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.nicescroll.js"></script>  
<script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.jigowatt.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.sticky.js"></script> 
<script type="text/javascript" src="~/Content/js/waypoints.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.gmap.min.js"></script> 
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="~/Content/js/custom.js"></script> 
<script type="text/javascript" src="~/Scripts/core.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/Scripts/jquery-ui.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
</head>
    <body>
        <!-- Top header -->
<div id="top-header" style="background:#38BC54;" >
  <div class="container">
    <div class="row">
      <div style="width:100%;text-align:center;">
            <H2 style="color:#ffffff;">CƠ SỞ DỮ LIỆU VI PHẠM PHÁP LUẬT BẢO VỆ ĐỘNG VẬT HOANG DÃ</H2>
      </div>
    </div>
  </div>
</div>

        <div id="body" style="min-height:435px;">
            @RenderSection("featured", required: false)     
            @RenderSection("Scripts", required: false)                                    
            @RenderBody()
        </div>
        <!-- Footer -->
<footer style="margin-top:20px">
  
  <div class="footer-bottom noPrint" style="margin-top:0px;padding:20px 0;">
    <div class="container">
      <div class="row">
        <div style="float:left;position:relative;"><img src="/Images/logofooter.png"></div>
        <div style="color:#ffffff;float:left;position:relative;">
            <p>CỤC BẢO TỒN ĐA DẠNG SINH HỌC - TỔNG CỤC MÔI TRƯỜNG </p>
            <p>Địa chỉ: Số 10 Tôn Thất Thuyết, Nam Từ Liêm, Hà Nội </p>
            <p>Điện thoại: 04.39412027 Fax: 04.39412028 </p>
            <p>Email: cucbaotonddsh@gmail.com </p>
            <p>Website: www.bca.vea.gov.vn
        </div>
        <div style="color:#ffffff;float:left;position:relative;margin-left:10px;">
            <a href="http://vea.gov.vn/VN/quanlymt/baotondadangsh/Pages/trangchu.aspx" target="_blank"><img src="/Images/vea.jpg" style="width:128px;height:57px;"></a>
            <a href="http://www.thegef.org/gef/" target="_blank"><img src="/Images/gef.jpg" style="width:128px;height:57px;"></a>
            <a href="http://www.worldbank.org/" target="_blank"><img src="/Images/worldbank.png" style="width:128px;height:57px;"></a>
            <a href="http://vea.gov.vn/" target="_blank"><img src="/Images/logomain.jpg" style="width:128px;height:57px;"></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Go-top Button -->
<div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>
        

    </body>
</html>
