<select id="phuongthucvanchuyen" class="form-control" name="phuongthucvanchuyen" tabindex="22">
    <option value="đường bộ">đường bộ</option>
    <option value="đường biển">đường biển</option>
    <option value="đường không">đường không</option>
    <option value="đường thủy">đường thủy</option>
</select>


