<select id="tinhtrangbaoton" class="form-control" name="tinhtrangbaoton" tabindex="29">
    <option value="quý hiếm">quý hiếm</option>
    <option value="thông thường">thông thường</option>
    
</select>



