<select id="tinhtrangbaoton" class="form-control" name="tinhtrangbaoton" tabindex="29">
    <option value="Tuyệt chủng">Tuyệt chủng</option>
    <option value="Tuyệt chủng">&nbsp;&nbsp;Tuyệt chủng</option>
    <option value="Tuyệt chủng trong tự nhiên">&nbsp;&nbsp;Tuyệt chủng trong tự nhiên</option>
    <option value="Bị đe dọa">Bị đe dọa</option>
    <option value="Cực kỳ nguy cấp">&nbsp;&nbsp;Cực kỳ nguy cấp</option>
    <option value="Nguy cấp">&nbsp;&nbsp;Nguy cấp</option>
    <option value="Sắp nguy cấp">&nbsp;&nbsp;Sắp nguy cấp</option>
    <option value="Ít nguy cấp">Ít nguy cấp</option>
    <option value="Phụ thuộc bảo tồn">&nbsp;&nbsp;Phụ thuộc bảo tồn</option>
    <option value="Sắp bị đe dọa">&nbsp;&nbsp;Sắp bị đe dọa</option>
    <option value="Ít quan tâm">&nbsp;&nbsp;Ít quan tâm</option>
    <option value="Thiếu dữ liệu">&nbsp;&nbsp;Thiếu dữ liệu</option>
    <option value="Không được đánh giá">&nbsp;&nbsp;Không được đánh giá</option>
</select>



